form {
    max-width: 500px;
    margin: 0 auto;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
}

.error {
    font-size: small;
    color: red;
    display: none;
}


input[type="text"],
input[type="number"],
input[type="password"],
input[type="file"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #CCCCCC;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="text"]:invalid,
input[type="number"]:invalid,
input[type="file"]:invalid,
input[type="password"]:invalid {
    border: 2px solid #CC0000;
}

input[type="file"] {
    margin-bottom: 10px;
}

.agreeButton {
    display: block;
    background-color: #4CAF50;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.agreeButton:hover {
    background-color: #3e8e41;
}

.options {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.options label {
    display: inline-block;
    margin-right: 10px;
    cursor: pointer;
    font-weight: bold;
}

.options input[type="radio"] {
    display: none;
}

.options .radio-label {
    display: inline-block;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.options .radio-label-name {
    display: flex;
    align-items: center;
    padding: 10px;
}

.options input[type="radio"]:checked + .radio-label {
    background-color: #1abc9c;
    color: white;
}
